<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\InventorySales\Model\PlaceReservationsForSalesEvent">
        <plugin name="prevent_reservation" type="MageSuite\DisableStockReservation\Plugin\InventorySales\Model\PlaceReservationsForSalesEvent\PreventReservation" sortOrder="1" />
    </type>
    <type name="Magento\InventorySalesApi\Api\PlaceReservationsForSalesEventInterface">
        <plugin name="prevent_adding_default_compensation" type="MageSuite\DisableStockReservation\Plugin\InventorySalesApi\Api\PreventAddingDefaultCompensation" sortOrder="2" disabled="false" />
    </type>
    <type name="Magento\InventorySourceSelectionApi\Model\GetInStockSourceItemsBySkusAndSortedSource">
        <plugin name="cast_skus_to_strings" type="MageSuite\DisableStockReservation\Plugin\InventorySourceSelectionApi\Model\CastSkusToStrings" sortOrder="1" disabled="false" />
    </type>
    <type name="Magento\Sales\Api\OrderManagementInterface">
        <plugin name="inventory_reservations_placement" disabled="true" />
    </type>
    <type name="Magento\SalesInventory\Model\Order\ReturnProcessor">
        <plugin name="process_return_product_qty_on_credit_memo" disabled="true" />
    </type>
    <type name="Magento\Sales\Api\CreditmemoRepositoryInterface">
        <plugin name="deduct_source_item_quantity_on_refund" disabled="true" />
    </type>
    <type name="Magento\CatalogInventory\Model\StockManagement">
        <plugin name="process_back_item_qty" disabled="true" />
    </type>
    <type name="Magento\InventoryShippingAdminUi\Model\IsOrderSourceManageable">
        <plugin name="skip_source_selection" type="MageSuite\DisableStockReservation\Plugin\Magento\InventoryShippingAdminUi\Model\IsOrderSourceManageable\SkipSourceSelection" sortOrder="10"/>
    </type>
</config>
