<?xml version="1.0"?>
<config>
    <type name="\Magento\InventorySalesApi\Api\PlaceReservationsForSalesEventInterface">
        <plugin name="PreventAddingDefaultCompensation" type="\MageSuite\DisableStockReservation\Plugin\InventorySalesApi\Api\PreventAddingDefaultCompensation" sortOrder="2" disabled="false" />
    </type>
    <type name="\Magento\InventorySourceSelectionApi\Model\GetInStockSourceItemsBySkusAndSortedSource">
        <plugin name="CastSkusToStrings" type="\MageSuite\DisableStockReservation\Plugin\InventorySourceSelectionApi\Model\CastSkusToStrings" sortOrder="1" disabled="false" />
    </type>
    <type name="\Magento\Sales\Api\OrderManagementInterface">
        <plugin name="inventory_reservations_placement" disabled="true" />
    </type>
</config>