<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_save_after">
        <observer name="remove_quantities_from_stock" instance="MageSuite\DisableStockReservation\Observer\ReduceSaleableQuantity"/>
    </event>
    <event name="sales_order_shipment_save_after">
        <observer name="inventory_sales_source_deduction_processor" disabled="true"/>
    </event>
    <event name="sales_order_creditmemo_save_after">
        <observer name="deduct_source_item_quantity_on_refund" disabled="true"/>
    </event>
</config>
